<!DOCTYPE html>
<html>
<head>
  <title>Corky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <h4> <%= error %> </h4>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
