<!DOCTYPE html>
<html>
<head>
  <title>Corky</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bitter:400,700|Maven+Pro:400,500' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#links-to-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Corky</span>
      </div>

      <div class="collapse navbar-collapse" id="links-to-collapse">
        <ul class="nav navbar-nav">
          <li><a class="nav-link" href="/static_pages/home">Home</a></li>
          <li><a class="nav-link" href="/static_pages/contact">Contact</a></li>
          <li><a class="nav-link" href="/static_pages/about">About</a></li>
          <% if !current_user %>
          <li><a href="/session/new">Sign In</a></li>
          <% else %>
            <li>
              <form action="/session" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">

                <input class="logout" type="submit" value="Logout!">
              </form>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>



  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <h4> <%= error %> </h4>
    <% end %>
  <% end %>

<%= yield %>


</body>
</html>
